# Project folders
/var/*
/.tmp/*
/**/node_modules

# phpBB
/phpunit.xml
/logs/*
/html/index.htm
/html/index.html
/html/cache/
!/html/cache/.htaccess
/html/composer.phar
/html/config.php
/html/config_dev.php
/html/config_test.php
/html/files/*
/html/images/avatars/gallery/*
/html/images/avatars/upload/*
/html/store/*
/html/vendor
/html/docs
/html/develop

/tests/phpbb_unit_tests.sqlite2
/tests/test_config.php
/tests/tmp/*

# Aquila style
/html/styles/aquila/

# Numeric extensions
/html/ext/numeric/

# Misc
*.bak
/xhprof

# Vagrant/Puphpet VM
.vagrant
puphpet/*
!puphpet/config.yaml
